.form-wrapper{
    max-width:600px;
    margin:auto;
}
label h2{
    font-size: 1rem;
}
input{
    width:100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background: white;
    border:rgb(184, 171, 171) 1px solid ;
}
textarea{
    width: 100%;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem;
    padding:1rem;
    border-radius: 5px;
    border:none;
}
#contact h1{
    text-align: center;
    margin:2rem;
}
form{
    padding: 1rem;
    margin:1rem;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }